@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@700&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');


* {
  box-sizing: border-box;
}


/* html {
  overflow: scroll;
} */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
button,
input,
select,
textarea {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

body{
   background-color: red;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   height: 100vh;
}